		/build/contracts/ERC20Standard.json/
        /build/contracts/HelloWorld.json/
        /build/contracts/Multi.json/
        /build/contracts/NewToken.json/
        /build/contracts/Sum.json/
        /build/contracts/checkOwner.json/
        /contracts/.placeholder/
        /contracts/ERC20Standard.sol/
        /contracts/HelloWorld.sol/
        /contracts/NewToken.sol/
        /contracts/check.sol/
        /contracts/test1.sol/
        /contracts/test2.sol/